<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.UsersMapper">
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="users">
		insert into users(name,age) values(#{name},#{age})
	</insert>
	<!-- 查询全部用户 -->
	<select id="selectUsersAll" resultType="users">
		select id,name,age from users
	</select>
	<!-- 根据ID查询用户 -->
	<select id="selectUsersById" resultType="users">
		select id,name,age from users where id = #{value}
	</select>
	<!-- 更新用户 -->
	<update id="updateUser" parameterType="users">
		update users set name=#{name} ,age=#{age} where id=#{id}
	</update>
	<!-- 删除用户 -->
	<delete id="deleteUserById">
		delete from users where id = #{value}
	</delete>
</mapper>